body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-optibakerdanmarkone: OPTIBakerDanmarkOne;
  --font-inter: Inter;
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-13xl: 32px;
  --font-size-29xl: 48px;
  --font-size-base: 16px;
  --font-size-21xl: 40px;
  --font-size-3xs: 10px;

  /* Colors */
  --color-whitesmoke-100: #efeee9;
  --color-gray-100: #080404;
  --color-gray-200: rgba(8, 4, 4, 0.5);

  /* Paddings */
  --padding-4xl: 23px;
  --padding-71xl: 90px;
}
