.my-moroccan-rug-freiruum020-3 {
  position: absolute;
  top: 180px;
  left: calc(50% - 720px);
  width: 1483px;
  height: 760px;
  object-fit: cover;
}
.achieving-more-with,
.customer-testimonials,
.our-journey {
  position: absolute;
  top: 5385px;
  left: calc(50% - 219px);
  line-height: 48px;
}
.achieving-more-with,
.our-journey {
  top: 4662px;
  left: calc(50% - 332px);
}
.our-journey {
  top: 3858px;
  left: calc(50% - 118px);
}
.months-ago {
  position: absolute;
  top: 222.97px;
  left: 150px;
  font-size: var(--font-size-3xs);
  line-height: 114.52%;
  font-family: var(--font-inter);
}
.group-child {
  position: absolute;
  top: 204px;
  left: 147px;
  width: 72.1px;
  height: 15.55px;
}
.claudia-schuepp {
  position: absolute;
  top: 178px;
  left: 111px;
  font-size: var(--font-size-xl);
  line-height: 109.96%;
  text-align: center;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 365px;
  height: 254px;
}
.i-am-overwhelmed {
  position: absolute;
  top: 26px;
  left: 43px;
  line-height: 20px;
  font-family: var(--font-outfit);
  text-align: center;
  display: inline-block;
  width: 280px;
}
.show-more {
  position: absolute;
  top: 133px;
  left: 152px;
  text-decoration: underline;
  line-height: 120%;
}
.months-ago-parent {
  position: absolute;
  top: 5529px;
  left: 97px;
  width: 365px;
  height: 254px;
  font-size: var(--font-size-base);
}
.years-ago {
  position: absolute;
  top: 323px;
  left: 155px;
  font-size: var(--font-size-3xs);
  line-height: 114.52%;
  font-family: var(--font-inter);
}
.group-inner {
  position: absolute;
  top: 304px;
  left: 147px;
  width: 72.1px;
  height: 15.55px;
}
.laurene-robert {
  position: absolute;
  top: 278px;
  left: 116px;
  font-size: var(--font-size-xl);
  line-height: 109.96%;
  text-align: center;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 365px;
  height: 348px;
}
.khalida-was-so {
  position: absolute;
  top: 27px;
  left: 43px;
  line-height: 20px;
  font-family: var(--font-outfit);
  text-align: center;
  display: inline-block;
  width: 280px;
}
.show-less {
  position: absolute;
  top: 235px;
  left: 151px;
  text-decoration: underline;
  line-height: 120%;
}
.years-ago-parent {
  position: absolute;
  top: 5529px;
  left: 537px;
  width: 365px;
  height: 348px;
  font-size: var(--font-size-base);
}
.celine-soyer {
  position: absolute;
  top: 178px;
  left: 128px;
  font-size: var(--font-size-xl);
  line-height: 109.96%;
  text-align: center;
}
.show-more1 {
  position: absolute;
  top: 134px;
  left: 146px;
  text-decoration: underline;
  line-height: 120%;
}
.months-ago-group {
  position: absolute;
  top: 5529px;
  left: 977px;
  width: 365px;
  height: 254px;
  font-size: var(--font-size-base);
}
.right-arrow-icon {
  position: relative;
  width: 27px;
  height: 27px;
  object-fit: cover;
}
.right-arrow-container,
.right-arrow-wrapper {
  position: absolute;
  top: 5392px;
  left: calc(50% + 551px);
  border: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 72px;
  height: 62px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
}
.right-arrow-container {
  left: calc(50% + 469px);
  opacity: 0.5;
}
.moroccan-rug-about-us-child,
.my-moroccan-rug-at-home088-1 {
  position: absolute;
  top: 4787px;
  left: 97px;
  width: 467px;
  height: 488px;
  object-fit: cover;
}
.my-moroccan-rug-at-home088-1 {
  top: 1041px;
  left: 100px;
  width: 584px;
  height: 840px;
}
.designed-in-switzerland,
.traditional-craftmanship-and {
  position: absolute;
  left: 780px;
  display: flex;
  align-items: center;
}
.designed-in-switzerland {
  top: 1491px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.03em;
  line-height: 30px;
  width: 564px;
}
.traditional-craftmanship-and {
  top: 1221px;
  line-height: 60px;
  width: 563px;
}
.brand-kit-my-moroccan-rug-20 {
  position: absolute;
  top: 1983px;
  left: calc(50% - 720px);
  width: 1445px;
  height: 820px;
  object-fit: cover;
}
.superior-material-and {
  margin: 0;
}
.superior-material-and-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 60px;
}
.superior-material-and-traditio-wrapper {
  position: absolute;
  top: 2547px;
  left: 909px;
  width: 429px;
  height: 120px;
  color: var(--color-whitesmoke-100);
}
.my-moroccan-rug-mini-session {
  position: absolute;
  top: 2907px;
  left: 658px;
  width: 682px;
  height: 856px;
  object-fit: cover;
}
.khalida-toukkani {
  margin: 0;
  text-transform: uppercase;
}
.creativity-runs-through-container1 {
  line-break: anywhere;
  width: 100%;
}
.born-in-morocco,
.creativity-runs-through-container {
  position: absolute;
  left: 100px;
  display: flex;
  align-items: center;
}
.creativity-runs-through-container {
  top: 3087px;
  line-height: 60px;
  white-space: pre-wrap;
  width: 540px;
}
.born-in-morocco {
  top: 3417px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.03em;
  line-height: 30px;
  width: 467px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 314px;
  height: 80px;
}
.the-founder {
  position: absolute;
  top: 20px;
  left: calc(50% - 105px);
  line-height: 40px;
}
.rectangle-parent {
  position: absolute;
  top: 2977px;
  left: 572px;
  width: 314px;
  height: 80px;
  font-size: var(--font-size-21xl);
}
.moroccan-rug-about-us-item {
  position: absolute;
  top: 5965px;
  left: 1px;
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 696px;
}
.link-345115131-6489507131059,
.link-348291817-1438306750256,
.link-351776799-1343472626541 {
  position: absolute;
  height: calc(100% - 7424px);
  width: calc(100% - 1045px);
  top: 6141px;
  right: 952px;
  bottom: 1283px;
  left: 93px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.link-345115131-6489507131059,
.link-348291817-1438306750256 {
  width: calc(100% - 1043px);
  right: 529px;
  left: 514px;
}
.link-345115131-6489507131059 {
  width: calc(100% - 1039px);
  right: 101px;
  left: 938px;
}
.see-more-on {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.follow-us-on,
.frame-15default {
  position: absolute;
  text-align: center;
}
.frame-15default {
  top: 6580px;
  left: calc(50% - 117px);
  border: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 235px;
  height: 62px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  font-family: var(--font-outfit);
}
.follow-us-on {
  top: 6049px;
  left: calc(50% - 181px);
  font-size: var(--font-size-21xl);
  line-height: 40px;
}
.together-we-curate {
  top: 0;
  left: 0;
  line-height: 60px;
  width: 662px;
}
.every-piece-that,
.frame-15default1,
.together-we-curate {
  position: absolute;
  display: flex;
  align-items: center;
}
.every-piece-that {
  top: 190px;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: 0.03em;
  line-height: 30px;
  width: 662px;
}
.frame-15default1 {
  top: 289px;
  left: calc(50% - 332px);
  border: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 235px;
  height: 62px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-4xl) var(--padding-71xl);
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-outfit);
}
.together-we-curate-perfection-parent {
  position: absolute;
  top: 4846px;
  left: 680px;
  width: 662px;
  height: 350px;
}
.moroccan-rug-about-us-inner {
  position: absolute;
  top: 5927px;
  left: 693px;
  width: 55px;
  height: 20px;
}
.moroccan-rug-about-us-child1 {
  position: absolute;
  top: 6667px;
  left: calc(50% - 720px);
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 737px;
}
.send-us-an-email-wrapper {
  position: absolute;
  top: 6947px;
  left: calc(50% + 246px);
  border: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 235px;
  height: 62px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xl) var(--padding-71xl);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-outfit);
}
.moroccan-rug-about-us-child2 {
  position: absolute;
  top: 7402px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 2px;
}
.vector-icon {
  position: absolute;
  top: 6810.23px;
  left: calc(50% - 4.77px);
  width: 11.55px;
  height: 592.77px;
}
.e-mail-infomy-moroccan-rugco,
.phone-41-76-container {
  position: absolute;
  top: 0;
  left: 373px;
  letter-spacing: 0.03em;
  line-height: 30px;
}
.e-mail-infomy-moroccan-rugco {
  left: 0;
}
.phone-41-76-779-96-00-parent {
  position: absolute;
  top: 6994px;
  left: 98px;
  width: 542px;
  height: 60px;
  font-size: var(--font-size-xl);
}
.contact {
  position: absolute;
  top: 6728px;
  left: calc(50% - 77px);
  line-height: 60px;
}
.khadija-keddou-marketing-container,
.khalida-toukkani-founder-container {
  position: absolute;
  top: 6874px;
  left: 101px;
  font-size: var(--font-size-13xl);
  line-height: 40px;
}
.khadija-keddou-marketing-container {
  top: 7126px;
  line-height: 35px;
}
.phone-33-7-58-08-38-60-parent {
  position: absolute;
  top: 7236px;
  left: 98px;
  width: 546px;
  height: 60px;
  font-size: var(--font-size-xl);
}
.get-in-touch {
  position: absolute;
  top: 6878px;
  left: calc(50% + 245px);
  line-height: 60px;
}
.hinterbergstrasse-32-6330,
.showroom {
  position: absolute;
  top: 7086px;
  left: 975px;
  line-height: 60px;
  text-align: center;
}
.hinterbergstrasse-32-6330 {
  top: 7156px;
  left: 863px;
  font-size: var(--font-size-13xl);
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 439px;
}
.footer-child {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 723.5px);
  background-color: var(--color-whitesmoke-100);
  width: 1446px;
}
.kt-1-1,
.logo {
  position: absolute;
  width: 209px;
}
.kt-1-1 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 104.5px);
  max-height: 100%;
  object-fit: cover;
}
.logo {
  top: 117px;
  left: calc(50% - 112.5px);
  height: 104px;
}
.item-link,
.item-link-container,
.item-link-container1,
.item-link1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 15px;
  font-weight: 300;
}
.item-link,
.item-link-container1,
.item-link1 {
  top: 33.99%;
}
.item-link-container1,
.item-link1 {
  top: 57.31%;
}
.item-link-container1 {
  top: 79.97%;
}
.item-link-shop-parent {
  position: absolute;
  height: 74.65%;
  width: 100%;
  top: 25.35%;
  right: 0;
  bottom: 0;
  left: 0;
}
.contact1 {
  position: absolute;
  height: 19.9%;
  width: 71.58%;
  top: 0;
  left: 0;
  font-size: var(--font-size-13xl);
  line-height: 40px;
  font-family: var(--font-optibakerdanmarkone);
  display: flex;
  align-items: center;
}
.group-parent {
  position: absolute;
  height: 48.95%;
  width: 12.7%;
  top: 16.47%;
  right: 5.83%;
  bottom: 34.58%;
  left: 81.47%;
  font-size: var(--font-size-sm);
  font-family: var(--font-outfit);
}
.home {
  position: absolute;
  height: 23.26%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  display: flex;
  align-items: center;
}
.item-link3,
.item-link4,
.item-link5 {
  position: absolute;
  top: 29.16%;
  left: 0;
  line-height: 15px;
  font-weight: 300;
}
.item-link4,
.item-link5 {
  top: 58.32%;
}
.item-link5 {
  top: 87.48%;
}
.item-link-shop-group {
  position: absolute;
  height: 69.78%;
  width: 63.92%;
  top: 30.22%;
  right: 36.08%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-sm);
  font-family: var(--font-outfit);
}
.home-parent {
  position: absolute;
  height: 41.88%;
  width: 6.73%;
  top: 16.47%;
  right: 86.33%;
  bottom: 41.65%;
  left: 6.94%;
}
.explore {
  position: absolute;
  height: 29.2%;
  width: 96.03%;
  top: 0;
  left: 0;
  line-height: 40px;
  display: flex;
  align-items: center;
}
.item-link7,
.item-link8 {
  position: absolute;
  top: 41.16%;
  left: 0;
  line-height: 15px;
  font-weight: 300;
}
.item-link8 {
  top: 82.33%;
}
.item-link-shop-container {
  position: absolute;
  height: 62.07%;
  width: 100%;
  top: 37.93%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-sm);
  font-family: var(--font-outfit);
}
.explore-parent {
  position: absolute;
  height: 33.36%;
  width: 8.74%;
  top: 16.47%;
  right: 23.39%;
  bottom: 50.17%;
  left: 67.87%;
}
.information {
  position: absolute;
  height: 29.29%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  display: flex;
  align-items: center;
}
.group-div {
  position: absolute;
  height: 62.25%;
  width: 55.61%;
  top: 37.75%;
  right: 44.39%;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-sm);
  font-family: var(--font-outfit);
}
.footer-item,
.information-parent {
  position: absolute;
  height: 33.26%;
  width: 13.6%;
  top: 16.47%;
  right: 67.45%;
  bottom: 50.27%;
  left: 18.95%;
}
.footer-item {
  height: 3.65%;
  width: 5.72%;
  top: 65.65%;
  right: 47.16%;
  bottom: 30.7%;
  left: 47.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.copyright-2023 {
  position: absolute;
  top: 76.62%;
  left: calc(50% - 229.5px);
  font-size: var(--font-size-sm);
  line-height: 15px;
  font-family: var(--font-inter);
}
.footer {
  position: absolute;
  top: 7404px;
  left: calc(50% - 720px);
  width: 1441px;
  height: 410px;
  font-size: var(--font-size-13xl);
}
.moroccan-rug-about-us-child3 {
  position: absolute;
  top: 3970px;
  left: calc(50% - 525px);
  width: 1051px;
  height: 592px;
  object-fit: cover;
}
.item-link12 {
  left: 0;
}
.item-link12,
.item-link13,
.item-link14 {
  position: absolute;
  top: 78.26%;
  line-height: 20px;
}
.item-link13 {
  left: 18.26%;
  color: var(--color-gray-100);
}
.item-link14 {
  left: 34.58%;
}
.mask-group-icon {
  position: absolute;
  height: 95.01%;
  width: 21.28%;
  top: 0;
  right: 31.8%;
  bottom: 4.99%;
  left: 46.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.item-link15,
.item-link16 {
  position: absolute;
  top: 78.26%;
  left: 75.45%;
  line-height: 20px;
}
.item-link16 {
  left: 90.45%;
}
.item-link-shop-parent1 {
  position: absolute;
  height: 1.18%;
  width: 57.43%;
  top: 0.29%;
  right: 24.1%;
  bottom: 98.53%;
  left: 18.47%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.moroccan-rug-about-us {
  position: relative;
  background-color: #edeee9;
  width: 100%;
  height: 7814px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
  font-family: var(--font-optibakerdanmarkone);
}
